vendor(property, arg)
	{property} arg
	-webkit-{property} arg
	-moz-{property} arg
	
border-radius(radius = 200px)
	vendor('border-radius', radius)
	
transition(arg)
	vendor('transition', arg)

cf()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both