doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title= title
		link(href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet")
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 

		link(rel="stylesheet", href="/css/sheet-slider.css")
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/head_footer.css')

		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="./javascripts/menu.js"></script>
	body
		section#cuerpo
			header
				article
					ul.red_social  <!-- color: 224776 -->
						li: a(href="#")
							img(src="/images/svg/facebook-icon.svg" class="facebook-icon" width="25px" alt="facebook.icon")
						li: a(href="#")		
							img(src="/images/svg/email-icon.svg" class="facebook-icon" width="25px" alt="facebook.icon.svg")
						li: a(href="#")
							img(src="/images/svg/facebook-icon.svg" class="facebook-icon" width="25px" alt="facebook.icon")
						li: a(href="#")
							img(src="/images/svg/youtube-icon.svg" class="facebook-icon" width="25px" alt="facebook.icon")
						li: a(href="/settings")
							img(src="/images/svg/ajustes-icon.svg" class="girar" width="25px" alt="ajustes.icon")
						h2 TELEF. (042) 559471
				figure<!-- Logo -->
					a(href="#")
						img(src="/images/jpg/LOGO_IJAM.jpg")
				div.menu_bar: a(href="#") 
					img(src="/images/svg/menu-bars.svg")		
				nav
					ul
						li: a(href="#") INICIO
						li: a(href="#") INSTITUTO
						li: a(href="#") ADMISIÓN
						li: a(href="#") CARRERAS
						li: a(href="#") EDUCACIÓN ONLINE
						li: a(href="#") CONTÁCTENOS
			block content

			footer
				div.contactar
					figure
						img(src="/images/svg/facebook-icon.svg" class="facebook-icon" alt="facebook.icon")
					p -Todos los Derechos Reservados 2017-
				div.contactar
					ul
						li MAPA DEL SITIO |
						li TRABAJA CON NOSOTROS |
						li ¿BUSCA PROFESIONALES PARA SU EMPRESA?
					ul 
						li RIOJA: JR BERNARDO ALCEDO MZ 25 - SECTOR PABLO MORI | TELEF. (042) 559471
			
			